<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Panagea - Premium site template for travel agencies, hotels and restaurant listing.">
    <meta name="author" content="Ansonika">
    <title>Panagea </title>
     <!-- Favicons-->
     <link rel="shortcut icon" href="/img/favicon.ico" type="/image/x-icon">
     <link rel="apple-touch-icon" type="image/x-icon" href="/img/apple-touch-icon-57x57-precomposed.png">
     <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/img/apple-touch-icon-72x72-precomposed.png">
     <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/img/apple-touch-icon-114x114-precomposed.png">
     <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/img/apple-touch-icon-144x144-precomposed.png">
      <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">



<link rel="stylesheet" href="/css/adminlogin.css">
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Sign In </h2>
        
          <!-- Login Form -->
          <form action="" method="POST" id="login_form">
            <input type="text" id="email" class="fadeIn second" name="login" placeholder="login">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>
        </div>
      </div>
      <script src="/js/common_scripts.js"></script>
      <script src="/js/main.js"></script>
      <script src="/assets/validate.js"></script>
      <script>
        $(document).ready(function() {
            $('#login_form').on('submit', function(e) {
                e.preventDefault();
                // khai báo
                var password, email
                    // lấy dữ liệu
                password = $('#password').val();
                email = $('#email').val();
                // iduser=$('#iduser').val();
                // // gửi ajax
                $.ajax({
                    url: 'api/processLogin',
                    type: 'POST',
                    data: {
                        'password': password,
                        'email': email,

                    },
                    success: function(result) {
                        if (result.kq == 1) {
                            if(result.type == "Admin"){
                                propertyGlobal = [{
                                name: result.name,
                                email: result.email,
                                id: result.id,
                                type: result.type
                            }]
                            localStorage.setItem('propertyGlobal', JSON.stringify(propertyGlobal));
                            window.location.href = 'home';
                            } else if(result.type == "Manager"){
                                propertyGlobal = [{
                                name: result.name,
                                email: result.email,
                                id: result.id,
                                type: result.type
                            }]
                            localStorage.setItem('propertyGlobal', JSON.stringify(propertyGlobal));
                            window.location.href = '/manager/home';
                            } 
                          

                        } else {
                            alert(result.err);
                        }
                    },

                });

                return false;
            });

        });
    </script>
</body>
</html>