<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Panagea - Premium site template for travel agencies, hotels and restaurant listing.">
    <meta name="author" content="Ansonika">
    <title>Panagea | Premium site template for travel agencies, hotels and restaurant listing.</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="/image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/vendors.css" rel="stylesheet">
    <% if(url == '/event' || url == '/event-post' ) {%>
        <!-- SPECIFIC CSS -->
        <link href="css/blog.css" rel="stylesheet">
        <%}%>

            <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
            <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />

            <!-- YOUR CUSTOM CSS -->
            <link href="/css/custom.css" rel="stylesheet">
            <base href="http://localhost:4500/">

</head>

<body class="datepicker_mobile_full">
    <!-- Remove this class to disable datepicker full on mobile -->

    <div id="page">

        <header class="header menu_fixed">
            <div id="preloader">
                <div data-loader="circle-side"></div>
            </div>
            <!-- /Page Preload -->
            <div id="logo">
                <a href="home">
                    <img src="/img/logo.png" width="150" height="36" alt="" class="logo_normal">

                </a>
            </div>
            <ul id="top_menu">
                <li><a href="#sign-in-dialog" id="sign-in" class="login" title="Sign In">Sign In</a></li>
                <li>
                    <div class="dropdown" style="display:none" id="user">
                        <input type="button" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="">

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <input type="button" class="dropdown-item" id="logout" value="Logout">

                        </div>
                    </div>
                </li>
                <li><a href="wishlist.html" class="wishlist_bt_top" title="Your wishlist">Your wishlist</a></li>
            </ul>
            <!-- /top_menu -->
            <a href="#menu" class="btn_mobile">
                <div class="hamburger hamburger--spin" id="hamburger">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>
            <nav id="menu" class="main-menu">
                <ul>
                    <li><span><a href="home">Home</a></span>

                    </li>

                    <li><span><a href="property">Properties</a></span>
                        <ul>

                            <li><a href="house">House</a></li>
                            <li><a href="flat">Flat</a></li>
                            <li><a href="unique">Unique Stay</a></li>
                            <li><a href="hotel">Hotel</a></li>
                        </ul>
                    </li>

                </ul>
            </nav>
        </header>
        <!-- /header -->

        <%-include(main);%>
            <!-- /main -->

            <footer>
                <div class="container margin_60_35">
                    <div class="row">
                        <div class="col-lg-5 col-md-12 p-r-5">
                            <p><img src="/img/logo.svg" width="150" height="36" alt=""></p>
                            <p>Mea nibh meis philosophia eu. Duis legimus efficiantur ea sea. Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu. Nihil facilisi indoctum an vix, ut delectus expetendis vis.</p>
                            <div class="follow_us">
                                <ul>
                                    <li>Follow us</li>
                                    <li><a href="#0"><i class="ti-facebook"></i></a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 ml-lg-auto">
                            <h5>Useful links</h5>
                            <ul class="links">
                                <li><a href="about">About</a></li>
                                <li><a href="login">Login</a></li>
                                <li><a href="register">Register</a></li>
                                <li><a href="event">News &amp; Events</a></li>
                                <li><a href="contact">Contacts</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <h5>Contact with Us</h5>
                            <ul class="contacts">
                                <li><a href="tel://61280932400"><i class="ti-mobile"></i> + 61 23 8093 3400</a></li>
                                <li><a href="mailto:info@Panagea.com"><i class="ti-email"></i> info@Panagea.com</a></li>
                            </ul>
                            <div id="newsletter">
                                <h6>Newsletter</h6>
                                <div id="message-newsletter"></div>
                                <form method="post" action="assets/newsletter.php" name="newsletter_form" id="newsletter_form">
                                    <div class="form-group">
                                        <input type="email" name="email_newsletter" id="email_newsletter" class="form-control" placeholder="Your email">
                                        <input type="submit" value="Submit" id="submit-newsletter">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--/row-->
                    <hr>
                    <div class="row">

                        <div class="col-lg-12">
                            <ul id="additional_links">
                                <li><a href="#0">Terms and conditions</a></li>
                                <li><a href="#0">Privacy</a></li>
                                <li><span>© 2021 Panagea</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <!--/footer-->
    </div>
    <!-- page -->

    <!-- Sign In Popup -->
    <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
        <div class="small-dialog-header">
            <h3>Sign In</h3>
        </div>
        <form action="" method="POST" id="login_form">
            <div class="sign-in-wrapper">

                <a href="#0" class="social_bt google">Login with Google</a>
                <div class="divider"><span>Or</span></div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" id="email">
                    <i class="icon_mail_alt"></i>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" id="password" value="">
                    <i class="icon_lock_alt"></i>
                </div>
                <div class="clearfix add_bottom_15">
                    <div class="checkboxes float-left">
                        <label class="container_check">Remember me
						  <input type="checkbox">
						  <span class="checkmark"></span>
						</label>
                    </div>
                    <div class="float-right mt-1"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
                </div>
                <div class="text-center"><input type="submit" value="Log In" class="btn_1 full-width"></div>
                <div class="text-center">
                    Don’t have an account? <a href="register">Sign up</a>
                </div>
                <div id="forgot_pw">
                    <div class="form-group">
                        <label>Please confirm login email below</label>
                        <input type="email" class="form-control" name="email_forgot" id="email_forgot">
                        <i class="icon_mail_alt"></i>
                    </div>
                    <p>You will receive an email containing a link allowing you to reset your password to a new preferred one.</p>
                    <div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
                </div>
            </div>
        </form>
        <!--form -->
    </div>
    <!-- /Sign In Popup -->

    <div id="toTop"></div>
    <!-- Back to top button -->
    <!-- COMMON SCRIPTS -->
    <script src="/js/common_scripts.js"></script>
    <script src="/js/main.js"></script>
    <script src="/assets/validate.js"></script>
    <script>
        $(window).on('load', function() {
            if (localStorage.getItem('propertyGlobal') === null) {
                $("#sign-in").show();
                $("#user").hide();
            } else {
                $("#sign-in").hide();
                $("#user").show();
                $("#dropdownMenuButton").val(localStorage.getItem('propertyGlobal'));
            }
        });


        $(document).ready(function() {
            $('#login_form').on('submit', function(e) {
                e.preventDefault();
                // khai báo
                var password, email, iduser, top_menu
                    // lấy dữ liệu
                password = $('#password').val();
                email = $('#email').val();
                top_menu = $('#top_menu')
                    // iduser=$('#iduser').val();
                    // // gửi ajax
                $.ajax({
                    url: 'api/processLogin',
                    type: 'POST',
                    data: {
                        'password': password,
                        'email': email,

                    },
                    success: function(result) {
                        if (result.kq == 1) {
                            localStorage.setItem('propertyGlobal', result.name);
                            localStorage.getItem('propertyGlobal')
                            $("#sign-in").hide();
                            $("#user").show();
                            $("#dropdownMenuButton").val(localStorage.getItem('propertyGlobal'));
                        } else {
                            alert(result.err);

                        }
                    },

                });

                return false;
            });


        });
        $(document).ready(function() {
            $('#logout').click(function(e) {
                localStorage.removeItem('propertyGlobal');
                $("#sign-in").show();
                $("#user").hide();
            });
        })
    </script>
    <%switch(url){
        case '/home' : %>
        <!-- DATEPICKER  -->
        <script>
            $(function() {
                'use strict';
                $('input[name="dates"]').daterangepicker({
                    autoUpdateInput: false,
                    minDate: new Date(),
                    locale: {
                        cancelLabel: 'Clear'
                    }
                });
                $('input[name="dates"]').on('apply.daterangepicker', function(ev, picker) {
                    $(this).val(picker.startDate.format('MM-DD-YY') + ' > ' + picker.endDate.format('MM-DD-YY'));
                });
                $('input[name="dates"]').on('cancel.daterangepicker', function(ev, picker) {
                    $(this).val('');
                });
            });
        </script>

        <!-- INPUT QUANTITY  -->
        <script src="/js/input_qty.js"></script>

        <!-- Autocomplete -->
        <script>
            function initMap() {
                var input = document.getElementById('autocomplete');
                var autocomplete = new google.maps.places.Autocomplete(input);

                autocomplete.addListener('place_changed', function() {
                    var place = autocomplete.getPlace();
                    if (!place.geometry) {
                        window.alert("Autocomplete's returned place contains no geometry");
                        return;
                    }

                    var address = '';
                    if (place.address_components) {
                        address = [
                            (place.address_components[0] && place.address_components[0].short_name || ''),
                            (place.address_components[1] && place.address_components[1].short_name || ''),
                            (place.address_components[2] && place.address_components[2].short_name || '')
                        ].join(' ');
                    }
                });
            }
        </script>


        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1Is5XGywaMj01UtR9CLQZBLJGVbGrNoA&libraries=places&callback=initMap"></script>
        <% break;
        case '/property':%>
            <!-- Map -->

            <script src="/js/map_hotels.js"></script>


            <!-- Masonry Filtering -->
            <script src="/js/isotope.min.js"></script>
            <script>
                $(window).on('load', function() {
                    var $container = $('.isotope-wrapper');
                    $container.isotope({
                        itemSelector: '.isotope-item',
                        layoutMode: 'masonry'
                    });
                });

                $('.filters_listing').on('click', 'input', 'change', function() {
                    var selector = $(this).attr('data-filter');
                    $('.isotope-wrapper').isotope({
                        filter: selector
                    });
                });
            </script>
            <% break;
            case '/house':%>
                <!-- Map -->

                <script src="/js/map_hotels.js"></script>


                <!-- Masonry Filtering -->
                <script src="/js/isotope.min.js"></script>
                <script>
                    $(window).on('load', function() {
                        var $container = $('.isotope-wrapper');
                        $container.isotope({
                            itemSelector: '.isotope-item',
                            layoutMode: 'masonry'
                        });
                    });

                    $('.filters_listing').on('click', 'input', 'change', function() {
                        var selector = $(this).attr('data-filter');
                        $('.isotope-wrapper').isotope({
                            filter: selector
                        });
                    });
                </script>
                <% break;
                   case '/flat':%>
                    <!-- Map -->

                    <script src="/js/map_hotels.js"></script>


                    <!-- Masonry Filtering -->
                    <script src="/js/isotope.min.js"></script>
                    <script>
                        $(window).on('load', function() {
                            var $container = $('.isotope-wrapper');
                            $container.isotope({
                                itemSelector: '.isotope-item',
                                layoutMode: 'masonry'
                            });
                        });

                        $('.filters_listing').on('click', 'input', 'change', function() {
                            var selector = $(this).attr('data-filter');
                            $('.isotope-wrapper').isotope({
                                filter: selector
                            });
                        });
                    </script>
                    <% break;
                    case '/unique':%>
                        <!-- Map -->

                        <script src="/js/map_hotels.js"></script>

                        <!-- Masonry Filtering -->
                        <script src="/js/isotope.min.js"></script>
                        <script>
                            $(window).on('load', function() {
                                var $container = $('.isotope-wrapper');
                                $container.isotope({
                                    itemSelector: '.isotope-item',
                                    layoutMode: 'masonry'
                                });
                            });

                            $('.filters_listing').on('click', 'input', 'change', function() {
                                var selector = $(this).attr('data-filter');
                                $('.isotope-wrapper').isotope({
                                    filter: selector
                                });
                            });
                        </script>
                        <% break;
                    case '/details':%>
                            <!-- Map -->
                            <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB1Is5XGywaMj01UtR9CLQZBLJGVbGrNoA"></script>
                            <script src="/js/map_single_hotel.js"></script>
                            <script src="/js/infobox.js"></script>

                            <!-- DATEPICKER  -->
                            <script>
                                $(function() {
                                    $('input[name="dates"]').daterangepicker({
                                        autoUpdateInput: false,
                                        parentEl: '.scroll-fix',
                                        minDate: new Date(),
                                        opens: 'left',
                                        locale: {
                                            cancelLabel: 'Clear'
                                        }
                                    });
                                    $('input[name="dates"]').on('apply.daterangepicker', function(ev, picker) {
                                        $(this).val(picker.startDate.format('MM-DD-YY') + ' > ' + picker.endDate.format('MM-DD-YY'));
                                    });
                                    $('input[name="dates"]').on('cancel.daterangepicker', function(ev, picker) {
                                        $(this).val('');
                                    });
                                });
                            </script>

                            <!-- INPUT QUANTITY  -->
                            <script src="/js/input_qty.js"></script>

                            <% break;
                                    case '/contact':%>
                                <!-- SPECIFIC SCRIPTS -->
                                <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB1Is5XGywaMj01UtR9CLQZBLJGVbGrNoA"></script>
                                <script src="/js/mapmarker.jquery.js"></script>
                                <script src="/js/mapmarker_func.jquery.js"></script>
                                <% break;
            }%>




</body>

</html>