<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>PANAGEA - Admin dashboard</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">

    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Main styles -->
    <link href="/css/admin.css" rel="stylesheet">
    <!-- Icon fonts-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <%if(url[2] == 'home') {%>
        <!-- Plugin styles -->
        <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
        <%}%>
            <% if (url[2] == 'add'|| url[2] == 'edit') {%>
                <link rel="stylesheet" href="/bs-fileinput/css/fileinput.min.css">
                <!-- Plugin styles -->
                <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
                <link href="/vendor/dropzone.css" rel="stylesheet">
                <link href="/css/date_picker.css" rel="stylesheet">
                <style>
                    div.preview-images>img {
                        width: 30%;
                        padding: 10px;
                    }
                </style>
                <%}%>
                    <!-- Your custom styles -->
                    <link href="/css/custom.css" rel="stylesheet">
                    <base href="https://projecyundergraduate.herokuapp.com/manager/">
</head>

<body class="fixed-nav sticky-footer" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
        <a class="navbar-brand" href="home"><img src="/img/logo.png" data-retina="true" alt="" width="150" height="36"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="home">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Messages">
                    <a class="nav-link" href="feedback/1">
                        <i class="fa fa-fw fa-envelope-open"></i>
                        <span class="nav-link-text">Feedback</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Bookings">
                    <a class="nav-link" href="booking/1">
                        <i class="fa fa-fw fa-calendar-check-o"></i>
                        <span class="nav-link-text">Bookings </span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My listings">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMylistings" data-parent="#mylistings">
                        <i class="fa fa-fw fa-list"></i>
                        <span class="nav-link-text">My listings</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseMylistings">
                        <li>
                            <a href="pending/1">Pending</a>
                        </li>
                        <li>
                            <a href="completed/1">Completed</a>
                        </li>
                        <li>
                            <a href="refunded/1">Refunded</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Reviews">
                    <a class="nav-link" href="review/1">
                        <i class="fa fa-fw fa-star"></i>
                        <span class="nav-link-text">Reviews</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Bookmarks">
                    <a class="nav-link" href="list/1">
                        <i class="fa fa-fw fa-heart"></i>
                        <span class="nav-link-text">Listing</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Add listing">
                    <a class="nav-link" href="add">
                        <i class="fa fa-fw fa-plus-circle"></i>
                        <span class="nav-link-text">Add listing</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My profile">
                    <a class="nav-link" href="profile">
                        <i class="fa fa-fw fa-user"></i>
                        <span class="nav-link-text">My Profile</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /Navigation-->
    <%-include(main);%>
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © PANAGEA 2018</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" id="logout">Logout</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="/vendor/chart.js/Chart.js"></script>
        <script src="/vendor/datatables/jquery.dataTables.js"></script>
        <script src="/vendor/datatables/dataTables.bootstrap4.js"></script>
        <script src="/vendor/jquery.selectbox-0.2.js"></script>
        <script src="/vendor/jquery.magnific-popup.min.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="/js/admin.js"></script>
        <Script>
            if(localStorage.getItem("propertyGlobal") == null ){
               window.location.assign('/admin/login')
            }
        </Script>
        <script>  
        $(document).ready(function () {
            $("#logout").click(function (e) {
              localStorage.removeItem("propertyGlobal");
              $.post("/logout");
              window.location.href ='/admin/login'
            });
          });</script>
        <% if(url[2] == 'home') {%>
            <!-- Custom scripts for this page-->
            <script src="/js/admin-charts.js"></script>
            <%}%>
                <%if(url[2] == 'add'|| url[2] == 'edit') {%>
                    <script src="/bs-fileinput/js/fileinput.js"></script>
                    <script src="/bs-fileinput/js/plugins/piexif.min.js"></script>
                    <script src="/bs-fileinput/js/plugins/sortable.min.js"></script>
                    <script src="/bs-fileinput/fa/theme.js"></script>
                    <!-- Custom scripts for this page-->
                    <script src="/vendor/dropzone.min.js"></script>
                    <script src="/vendor/bootstrap-datepicker.js"></script>
                    <script>
                        $('input.date-pick').datepicker();
                    </script>

                    <script src="/js/ProccessProperty.js"></script>
                    <script>
                        $("#input-pd").fileinput({
                            theme: "fa",
                            showUpload: false,
                            'previewFileType': 'any',
                            maxFileCount: 10
                        });
                    </script>
                  
                    <%}%>
                <%if(url[2] == 'edit'){%>
                    <script>
                    $(function(){
                    $("#property_type").val("<%=data[0].category.cate_name%>").attr("selected","selected");
                      });
                    </script>
                <%}%>
                <%if(url[2] == 'profile'){%>
                    <script>
                    $(document).ready(function(){
                            $('#profile_form').on('submit',function(e){
                                e.preventDefault();
                                var name,email
                                name = $("#user_name").val()
                                email = $("#email").val()
                                $.ajax({
                                    url:"api/UpdateProfile",
                                    type:"POST",
                                    data: {
                                        'name':name,
                                        'email':email,
                                    },
                                    success:function(result){
                                        if(result.kq === 1){
                                        alert("Your Profile Has Been Updated");
                                        propertyGlobal = [{
                                                name: result.data.name,
                                                email: result.data.email,
                                                id: result.data._id
                                            }];
                                        localStorage.setItem('propertyGlobal', JSON.stringify(propertyGlobal));
                                        window.location.href ='/manager/home'
                                        }
                                    }
                                })
                            })
                        })


                        $(document).ready(function(){
                            $('#Change_pass_form').on('submit',function(e){
                                e.preventDefault();
                                var name,email
                                new_pass = $("#new_password").val()
                                re_pass = $("#re_password").val()
                                if (new_pass !== re_pass) {
                                    alert("Your password not match")
                                }else{
                                    $.ajax({
                                    url:"api/changePass",
                                    type:"POST",
                                    data: {
                                        'new_pass':new_pass,
                                      
                                    },
                                    success:function(result){
                                        if(result.kq === 1){
                                        alert("Your Password Has Been Updated");
                                      
                                        window.location.href ='/manager/home'
                                        }
                                    }
                                })
                                }
                               
                            })
                        })
                    </script>
                <%}%>
                        
                      

</body>

</html>

</html>