<body id="login_bg">

    <nav id="menu" class="fake_menu"></nav>

    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div>
    <!-- End Preload -->
    <form action="" method="POST" id="login_form">
        <div id="login">
            <aside>
                <figure>
                    <a href="home"><img src="img/logo_sticky.png" width="155" height="36" data-retina="true" alt="" class="logo_sticky"></a>
                </figure>
                <form>
                    <div class="access_social">
                        <a href="" id="btn_google" class="social_bt google">Login with Google</a>

                    </div>
                    <div class="divider"><span>Or</span></div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" name="email" id="email">
                        <i class="icon_mail_alt"></i>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" id="password" value="">
                        <i class="icon_lock_alt"></i>
                    </div>
                    <div class="clearfix add_bottom_30">
                        <div class="checkboxes float-left">
                            <label class="container_check">Remember me
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="float-right mt-1"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
                    </div>

                    <button type="submit" class="btn_1 rounded full-width">Login to Panagea</button>
                    <div class="text-center add_top_10">New to Panagea? <strong><a href="register">Sign up!</a></strong></div>
                </form>
                <form action="" method="POST" id="forgot_form">
                    <div id="forgot_pw">
                        <div class="form-group">
                          <label>Please confirm login email below</label>
                          <input
                            type="email"
                            class="form-control"
                            name="email_forgot"
                            id="email_forgot"
                          />
                          <i class="icon_mail_alt"></i>
                        </div>
                        <p>
                          You will receive an email containing a link allowing you to reset
                          your password to a new preferred one.
                        </p>
                        <div class="text-center">
                          <input type="submit" value="Reset Password" class="btn_1" />
                        </div>
                      </div>
                </form>
            
                <div class="copy">© 2018 Panagea</div>
            </aside>
        </div>
    </form>

    <!-- /login -->

    <!-- COMMON SCRIPTS -->
    <script src="js/common_scripts.js"></script>
    <script src="js/main.js"></script>
    <script src="assets/validate.js"></script>
    <script>
        $(document).ready(function() {
            $('#login_form').on('submit', function(e) {
                e.preventDefault();
                // khai báo
                var password, email, iduser
                    // lấy dữ liệu
                password = $('#password').val();
                email = $('#email').val();
                // iduser=$('#iduser').val();
                // // gửi ajax
                $.ajax({
                    url: 'api/processLogin',
                    type: 'POST',
                    data: {
                        'password': password,
                        'email': email,

                    },
                    success: function(result) {
                        if (result.kq == 1) {
                            if(result.type == "Admin"){
                             alert("Please go to admin login portal")
                            } else if(result.type == "Manager"){
                                alert("Please go to admin login portal")
                            } else{
                                alert(result.message)
                                propertyGlobal = [{
                                name: result.name,
                                email: result.email,
                                id: result.id,
                                type: result.type
                            }]
                            localStorage.setItem('propertyGlobal', JSON.stringify(propertyGlobal));
                            window.location.href = 'home';
                            }
                          

                        } else {
                            alert(result.err);
                        }
                    },

                });

                return false;
            });

        });
    </script>
    <script>
        $.ajax({
            url: 'api/google/auth',
            type: 'POST',
            success: function(result) {
                document.getElementById("btn_google").setAttribute("href", result.url_g);
            },

        });
    </script>
    <script>
        $(document).ready(function(){
            $("#forgot_form").on('submit',function(e){
                e.preventDefault()
                var email_forgot;
                email_forgot = $('#email_forgot').val()
              $.ajax({
                  url:'api/ResetPassword',
                  type: 'POST',
                  data:{
                      'email_forgot':email_forgot
                  },success: function(result) {
                        alert(result)
                       
                    }
              })
            })
        })
    </script>
</body>